/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/content/elements/moz-badge.tokens.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

menupopup,
panel {
  --menuitem-border-radius: var(--border-radius-xsmall);
  --menuitem-max-width: 42em;

  @media (-moz-platform: macos) and (-moz-mac-tahoe-theme) {
    --menuitem-border-radius: var(--border-radius-medium);
  }
}

menupopup {
  --menuitem-icon-fill: currentColor;

  @media (-moz-platform: macos) {
    /* On macOS, native menu icons should always be black by default so that
       they are considered template images. Template images should be used
       whenever possible so that the OS can manage the icon color, as the OS
       theme may differ from our theme. */
    menubar[native] &,
    &:not([native="false"]) {
      --menuitem-icon-fill: black;
    }
  }
}

/* Accel text */

@media not (prefers-contrast) {
  menuitem:not([disabled]) > .menu-accel-container > :is(.menu-accel, .menu-iconic-accel) {
    color: var(--text-color-disabled);
  }
}

/* Scroll buttons */

/* Hide arrow buttons when there's nothing to scroll in that direction */
.menupopup-arrowscrollbox[scrolledtostart]::part(scrollbutton-up),
.menupopup-arrowscrollbox[scrolledtoend]::part(scrollbutton-down) {
  display: none;
}

/* Prevent the scrolled contents of the menupopup from jumping vertically when
 * the arrow buttons appear / disappear, by positioning ::part(scrollbox) in
 * such a way that its edges are at the same position as the edges of
 * arrowscrollbox regardless of scroll button visibility.
 */

.menupopup-arrowscrollbox {
  /* Scrollbutton height derived from toolbarbutton list-style-image SVG width
   * of 12px and padding-block of 2px as defined in arrowscrollbox.css.
   */
  --scrollbutton-height: calc(12px + 2px + 2px);
}

.menupopup-arrowscrollbox:not([scrolledtostart])::part(scrollbox) {
  /* scrollbutton-up is visible; shift our top edge up by its height. */
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  margin-top: calc(-1 * var(--scrollbutton-height));
  border-top: var(--scrollbutton-height) solid transparent;
}

.menupopup-arrowscrollbox:not([scrolledtoend])::part(scrollbox) {
  /* scrollbutton-down is visible; shift our bottom edge down by its height. */
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  margin-bottom: calc(-1 * var(--scrollbutton-height));
  border-bottom: var(--scrollbutton-height) solid transparent;
}

@media (-moz-platform: windows) or (-moz-platform: linux) {
  menupopup,
  menubar {
    font: menu;
  }
}

@media (-moz-platform: macos) {
  menupopup {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font: -moz-pull-down-menu;
  }
}

menu,
menuitem,
menucaption {
  border-radius: 3px;
  align-items: center;
  flex-shrink: 0;
  list-style-image: none;
  max-width: 42em;

  @media (-moz-platform: linux) {
    padding: 4px 6px;
  }

  @media (-moz-platform: macos) {
    /* Space tokens don't match native macOS dimensions. */
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
    padding: 3px 9px;
  }
}

menu,
menuitem {
  -moz-context-properties: fill;
  fill: var(--menuitem-icon-fill);

  &:where([disabled="true"]) {
    color: var(--text-color-disabled);
    text-shadow: none;
  }

  &:where([_moz-menuactive]:not([disabled="true"])) {
    color: -moz-menuhovertext;
    background-color: -moz-menuhover;
  }

  &:where([_moz-menuactive="true"][disabled="true"]) {
    background-color: -moz-menuhoverdisabled;
  }
}

menuitem:is([default="true"], .spell-suggestion),
menucaption {
  font-weight: var(--font-weight-bold);
}

@media (-moz-platform: macos) {
  :is(.menu-accel, .menu-iconic-accel)[value] {
    margin-inline-start: 25px;
  }
}

@media (-moz-platform: macos) {
  /* On macOS, empty acceltext shouldn't take up any space */
  :is(menu, menuitem):not([acceltext]) > .menu-accel-container {
    display: none;
  }
}
