/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menupopup ::::: */

:is(menupopup, panel):where(:not([type="arrow"])) {
  --panel-background-color: Menu;
  --panel-text-color: MenuText;
  --panel-padding: var(--panel-padding-block) 0;
  --panel-border-color: ThreeDShadow;

  /* Nova's design tokens already provide a larger --panel-border-radius, so
     only apply the platform default when Nova is disabled. */
  @media not -moz-pref("browser.nova.enabled") {
    /* This should match GetMenuCornerRadius() on macOS, or be overridden below */
    --panel-border-radius: 6px;
  }

  @media (-moz-platform: linux) {
    @media (prefers-contrast) {
      --panel-border-color: color-mix(in srgb, currentColor 60%, transparent);
    }
  }

  @media (-moz-platform: macos) {
    --panel-background-color: none;
    --panel-border-color: transparent;

    @media (-moz-mac-tahoe-theme) {
      /* GetMenuCornerRadius() returns a larger value on Tahoe */
      --panel-border-radius: 12px;
    }
  }
}

:is(menupopup, panel) {
  /* We can always render in the preferred color scheme (unless otherwise
   * overridden). */
  color-scheme: light dark;
  min-width: 1px;
  -moz-window-input-region-margin: var(--panel-box-shadow-margin);
  margin: calc(-1 * var(--panel-box-shadow-margin));

  /* Panel design token theming */
  --background-color-canvas: var(--panel-background-color);

  @media (-moz-platform: linux) and (not (-moz-gtk-csd-transparency-available)) {
    /* On some linux WMs we need to draw square menus because alpha is not
     * available */
    --panel-box-shadow-margin: 0px !important;
    --panel-border-radius: 0px !important;
  }

  @media (-moz-platform: macos) {
    /* -moz-window-shadow does the trick on macOS */
    --panel-box-shadow: none;
    --panel-box-shadow-margin: 0px;
    appearance: auto;
    -moz-default-appearance: menupopup;
    /* We set the default background here, rather than on ::part(content),
     * because otherwise it'd interfere with the native look. Non-native-looking
     * popups should get their background via --panel-background-color */
    background-color: Menu;
  }

  &::part(content) {
    display: flex;
    box-sizing: border-box;

    padding: var(--panel-padding);
    color: var(--panel-text-color);
    background: var(--panel-background-color);
    /* The values chosen for the border radius should match OS values, not necessarily
     * design system values. */
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
    border-radius: var(--panel-border-radius);
    border: 1px solid var(--panel-border-color);
    width: var(--panel-width);
    box-shadow: var(--panel-box-shadow);
    margin: var(--panel-box-shadow-margin);

    min-width: 0;
    min-height: 0;

    /* Makes popup constraints work. Round up to avoid subpixel rounding
     * causing overflow, see bug 1846050 */
    /* Our stylelint rules don't account for the round() function, see bug 2018789 */
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
    max-height: round(up, 100% - 2 * var(--panel-box-shadow-margin), 1px);
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
    max-width: round(up, 100% - 2 * var(--panel-box-shadow-margin), 1px);

    overflow: clip; /* Don't let panel content overflow the border */
  }

  /* ::::: arrow panel ::::: */

  &:where([type="arrow"]) {
    appearance: none;
    background-color: transparent;

    &.panel-no-padding::part(content) {
      padding: 0;
    }
  }

  &[orient="vertical"]::part(content) {
    flex-direction: column;
  }
}

menupopup {
  /* Also apply the padding in the inline axis for menus */
  --panel-padding: var(--panel-padding-block);

  @media (-moz-platform: windows) {
    > menu,
    > menuitem {
      padding-block: 0.5em;
      padding-inline-start: 1em;
    }
  }

  > menu > menupopup {
    /* Vertically align nested menupopups: the shadow plus the top padding plus top border */
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
    margin-top: calc(-1 * (var(--panel-box-shadow-margin) + var(--panel-padding-block) + 1px));
  }
}

/* Rules for popups associated with menulists */
menulist > menupopup {
  min-width: 0;

  @media (-moz-platform: windows) {
    font: inherit;
  }

  @media (-moz-platform: macos) {
    &:not([position]) {
      margin-inline-start: -13px;
      margin-top: -1px;
    }
  }
}
