/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Proton Dark theme */
@media (-moz-proton) {
    @import url("chrome://browser/skin/light-dark-overrides.css");
}

@media not (-moz-proton) {
    :root {
        --lwt-accent-color: #0c0c0d !important;
        --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
        --toolbar-bgcolor: #323234 !important;
        --toolbar-field-background-color: #474749 !important;
        --toolbar-field-border-color: #5a5a5c !important;
        --button-hover-bgcolor: rgba(249,249,250,.1) !important;
        --toolbarbutton-icon-fill: #bebebe !important;
        --toolbar-field-focus-background-color: #474749 !important;
        --button-bgcolor: rgb(55, 55, 55) !important;
        --toolbarbutton-background: hsla(0,0%,70%,.2) !important;
        --toolbarbutton-hover-background: hsla(0,0%,70%,.4) !important;
        --toolbarbutton-active-background: hsla(0,0%,70%,.6) !important;
        --arrowpanel-background: #4a4a4f !important;
        --arrowpanel-border: #2a2a2e !important;
        --arrowpanel-border-color: #27272b !important;
        --button-active-bgcolor: rgba(249,249,250,.15) !important;
        --input-bgcolor: rgb(60, 60, 64) !important;
        --input-border-color: rgb(90, 90, 94) !important;
        --in-content-page-background: var(--toolbar-bgcolor) !important;
        --urlbar-box-text-color: #bababc !important;
        --panel-separator-color: rgba(249, 249, 250, .1) !important;
        --link-color: var(--photon-accent-light) !important;
        --photon-tab-outline: var(--photon-accent-dark);
        --sidebar-background: #38383d !important;
        --urlbarView-highlight-background: var(--photon-accent-dark) !important;
        --urlbarView-highlight-color: #fff !important;
        --urlbar-border-color: var(--photon-accent-dark);
        --toolbarbutton-icon-fill-attention: var(--photon-accent-light) !important;
        --button-primary-bgcolor: var(--photon-accent-dark) !important;
        --button-primary-color: #fff !important;
        --button-primary-active-bgcolor: var(--photon-accent-light) !important;
        --button-primary-hover-bgcolor: color-mix(in hsl, var(--photon-accent-light) 50%, var(--photon-accent-dark)) !important;
        --in-content-primary-button-background: var(--photon-accent) !important;
        --in-content-primary-button-background-hover: color-mix(in srgb, var(--photon-accent) 80%, white) !important;
        --in-content-primary-button-background-active: color-mix(in srgb, var(--photon-accent) 60%, white) !important;
        --lwt-sidebar-background-color: var(--toolbar-bgcolor) !important;
        --sidebar-background-color: var(--lwt-sidebar-background-color) !important;
        --chrome-content-separator-color: var(--lwt-accent-color) !important;
        --button-background-color: var(--toolbarbutton-background) !important;
        --button-background-color-hover: var(--toolbarbutton-hover-background) !important;
        --button-background-color-active: var(--toolbarbutton-active-background) !important;
        
        &:not(:-moz-window-inactive) {
            --lwt-toolbar-field-highlight: var(--photon-accent-dark);
        }
        
        #urlbar {
            border-color: var(--toolbar-field-border-color) !important;
            --toolbarbutton-icon-fill-attention: var(--photon-accent-dark) !important;
        }
        #identity-icon-box {
            --urlbar-box-focus-bgcolor: #474749 !important;
        }
        :is(.urlbar-icon,
        #identity-box) {
            fill: #b1b1b3 !important
        
        }
        #star-button[starred] {
            fill: #45a1ff !important;
        }
        :is(.tab-background[selected],
        #firefox-view-button[open] .toolbarbutton-icon) {
            background: #323234 !important;
        }
        @media not (-moz-platform: windows){
            menupopup:not(#ContentSelectDropdownPopup), richlistbox:not(#PopupSearchAutoComplete richlistbox), #tab-preview-panel, panel[type="autocomplete-richlistbox"] {
                --panel-background: var(--arrowpanel-background) !important;
            }
        }
        /*
        #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"]:-moz-lwtheme {
            background: #464648 !important;
        }*/
    }
}

